<html>
<head>
<style>
 body {
    background-color: yellow;
 h1 {
    color: white;
    text-align: left;
  div {
    width: 300px;
    border: 25px solid powderblue;
    padding: 25px;
    margin: 25px;
}
  div {
    width: 200px;
    border: 20px solid powderblue;
    padding: 20px;
    margin: 20px;
}
    
 <body>
     <h1> Maria Deidra Buluran </h1>
       <ul>
       <li> E-mail Address: deidraaabuluran@gmail.com</li>
       <li> Contact Number: 0947 952 4997</li>
       <li> Address: 518, Tawiran Panasahan, City of Malolos Bulacan </li>
       </ul>
          

</body>
</style>
</head>
</html>


